:root {
    --primary-color: #42b983;
    --secondary-color: #2c3e50;

    --text-color: #18191b;

    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    font-size: 18px;
}